<script type="text/javascript">
    var harUserID = 1300440;
</script>


<div class="surplus-message">
    <div class="hitnrunlink">
        <a href="https://wiki.torrentleech.org/doku.php/hnr" target="_blank">HnR Rules, Questions, And Answers</a>
    </div>
    <br />

    You currently have 0 warning(s)            <br />
    <br />

    You currently have  <span class="har_points">45,723.52</span> <a href="/profile/TDM/#marketplace"<span class="har_underline" title="TL Points are awarded for seeding complete torrents over time. Check the Marketplace Tab for more info.">TL Points</span></a>
    <br />
    <br />
    You currently have  <span class="har_surplus">28.56 TB</span> <span class="har_underline" title="The surplus of uploaded data when your ratio is over 1.0 minus any surplus data used to clear torrents from the HnR list.">Surplus Upload Credit</span>.
    <br />
    <br />
    You currently have  <span class="har_total">3</span> HnR torrents. For more on how to remove torrents from this list check the bottom of this page.
    <br />
    <br />

    <table id="harsTable" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Torrent</th>
            <th>Downloaded</th>
            <th>Uploaded</th>
            <th>Ratio</th>
            <th>Seeding Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
        </tfoot>
    </table>

    <br />
    <p>
        Above you will find a list of torrents that you are no longer seeding, and have a ratio below 1:1 or less than the minimum seeding time for your user class. You can find an overview of the seeding times on this <a href="http://wiki.torrentleech.org/doku.php/user_classes" target="_blank">wiki article </a>.
    </p>
    <br />
    <p>
        <a href="https://www.torrentleech.org/user/donate">VIP members</a> receive no HNRs from the system for the whole period of their VIP subscription plus all their existing ones(if any) would be cleared. Once the donation has expired, the system will start logging HNRs normally.
    </p>
    <br />
    <p>
        You can permanently remove any torrent from your list by using one of the following methods:
    <ul>
        <li>
            Seed the torrent for 168 Hours (7 days)
        </li>
        <li>
            Continue seeding until you have reached a ratio of 1:1 on the torrent
        </li>
        <li>
            By clearing with TL points. 1 point clears 14.3 MB of unseeded data.
        </li>
        <li>
            By clearing with upload Surplus Credit (The surplus of uploaded data when your ratio is over 1.0 minus any surplus data used to clear torrents from the HnR list.)
        </li>
        <li>
            <a href="https://www.torrentleech.org/user/donate" target="_blank">Donate and become a VIP.</a> All donors receive a donor star, and are exempt from inactivity pruning and Hit & Runs!
        </li>
    </ul>
    </p>
    <br />

    <p>
        » Hit and Run - How Should I Seed?
        <br />
        <br />
        Sharing is caring, and that means not only downloading, but more importantly, seeding. To ensure that you don't get a warning for low ratio, simply leave the torrent running in your client when it completes:) That way not only you will never have warnings, but at same time you will build up surplus upload credit which you could use in the future to clear other torrents! Not enough space/speed? You can always get a <a href="/seedit4me">seedbox</a>!
    </p>
</div>
<br />

